.export-sagu-data-btn {
    color: white;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.export-sagu-data-btn:hover {
    color: white;
    background-color: #286090;
    border-color: #204d74;
}

.d-none {
    display: none;
}

.student-export-alert {
    z-index: 10000 !important;
}

.student-export-alert .swal2-html-container {
    margin: 1.1em 1em 0em !important;
}

[selected-students-table] td:not(:last-child) {
    border-right: 1px solid #eee;
}

.badge-pill {
    color: #fff;
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
    font-size: 0.7rem;
}

.badge-success {
    background-color: #28a745;
}

.badge-info {
    background-color: #17a2b8;
}

.badge-danger {
    background-color: #dc3545;
}

[data-remodal-id="modal-exported-students"] {
    overflow: auto;
    max-height: 700px;
}

.enroll-students-btn {
    color: white;
    background-color: #343a40;
    border-color: #343a40;
}

.enroll-students-btn:hover {
    color: white;
    background-color: #23272b;
    border-color: #1d2124;
}
